<link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">

<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="/categories">Show Categories</a></li>
      <% if(!header) { %>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <% } %>
          <% if(header) { %>
            <li><a href="/myProfile">My Profile</a></li>
            <li><a href="/myProfile/myUploads">My Uploads</a></li>
            <li><a href="/myProfile/logout">Logout</a></li>
            <% } %>
    </ul>
  </div>
</nav>